/*-------------------------HEADER------------------------*/

/*Enlaces del menu*/
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Cinzel Decorative', cursive;
}

/*Dar estilo al menu*/
header{
    display: flex;
    height: auto;
    width:auto;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

/*Imagen logo en el menu*/
.logo{
    margin-left: 10%;
    height: 100px;
    display: flex;
}

/*Estilo del menu de la derecha*/
.menu2{
    display: flex;
    justify-items: center;
}

/*Imagen inicio sesion en el menu*/
#sesion{
    width: 80px;
}

/*Imagen carrito del corazon en el menu*/
.corazon{
    margin-top: 14px;
    width: 80px;
}

/*Imagen carrito de la compra en el menu*/
.carrito{
    margin-top: 7px;
    width: 80px;    
}

@media (max-width: 799px){
nav a{
    text-decoration: none;
    color: white;
    padding: 9px;
    margin: 5px;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Cinzel Decorative', cursive;
}
header{
    display: flex;
    height: auto;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

.menu2{
    /* visibility: hidden; */
    display: flex;
    flex-wrap: wrap;
	flex-direction:row;
  	align-items: center;
  	justify-content:space-evenly;
    margin: 2px;
    padding: 2px;
    background-color: black;

}

#sesion{
    width: 50px;
    
}

/*Imagen carrito del corazon en el menu*/
.corazon{
    margin-top: 10px;
    width: 50px;
}

/*Imagen carrito de la compra en el menu*/
.carrito{
    margin-top: 2px;
    width: 50px;    
}
}


@media (max-width: 1040px){
    nav a{
        text-decoration: none;
        color: white;
        padding: 9px;
        margin: 5px;
        border-radius: 5px;
        font-weight: 600;
        font-family: 'Cinzel Decorative', cursive;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: black;
        align-items: center;
        padding: 14px;
        margin-bottom: 50px;
    }
    
    .menu2{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: 2px;
        padding: 2px;
    }
    
    #sesion{
        width: 50px;
    }
    
    /*Imagen carrito del corazon en el menu*/
    .corazon{
        margin-top: 10px;
        width: 50px;
    }
    
    /*Imagen carrito de la compra en el menu*/
    .carrito{
        margin-top: 2px;
        width: 50px;    
    }
}





/*-------------------------MAIN------------------------*/

.producto{
    display: flex;
}

/*Dar forma a la imagen del producto*/
.producto img{
    width: 20%;
    border:5px solid black;
	border-radius: 5px;
    margin: 20px;
    margin-left: 25%;
}

.producto h3{
    margin-top: 2%;
}

/*Ruta de la pagina donde se situa*/
#ruta2{
    margin-left: 25%;
    font-size: 20px;

}

/*Lineas en las esquinas */
.retoque{
    position: absolute;
    top: 52%; left: 11%;
}

/*Posicionamiento de las tallas*/
.talla{
    position: absolute;
    top: 50%; left: 46.6%;
    color: black;
}

/*Boton añadir al carrito*/
.añadir{
    position: absolute;
    top: 60%; left: 46.6%;
    padding: 10px;
    width: 200px;
    height: auto;
    border:5px solid black;
	border-radius: 5px;
    background-color: black;
    color: white;
}

/*Posicionamiento de las lineas*/
.esqdere{
    position: absolute;
    top: 2%; left: 72%;
}

/*-----------------------FOOTER--------------------------------*/

.linea{
    margin-left: 42%;
    width: 300px;
}

.footer a{
    color: black;
}

/*Enlaces del footer*/
.footer li{
    margin-left: 50px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/*Estilo del footer*/
footer{
    margin-top: 90px;
    background-color: rgb(107, 105, 105);
    color: white;
    padding: 20px;
}

/*Titulo del footer*/
.footer h1{
    text-align: center;
    padding: 10px;
    color: black;
}

/*Imagenes de las redes sociales*/
.redes{
    display: block;
    margin-left: 60%;
}

.facebook{
    width: 100px;
}

.instagram{
    width: 80px;
}

.twitter{
    width: 100px;
}



